<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
  <h1>It's <%=tasksToPresent %></h1>
  <ul>
  <%for (i=0;i<tasksToPresent.length;++i) {%>
    <li> <%=tasksToPresent[i]%></li>
    <%}%>


  </ul>
  <form action="/" method="post">
    <input type="text" name="newItem" />
    <button type="submit" name="button"> Add </button>
  </form>

  </body>
</html>
